{% extends "clientes/base.html" %}

{% load static %}

{% block content %}

<!-- Escribir aqui codigo para cada pagina -->

<div class="contenedorFormulario"> 
  <p>
    <form
     action="" method="post" style="text-align:center;"> 
        

        {% csrf_token %}
        <table style="color:white; margin: 20px auto;">{{formu_reg}}</table>
        <input type="submit" value="Guardar" style="width: 150px;">

        {% if formu_reg.errors %}
            {% for field in formu_reg %}
                {% for error in field.errors %} 
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </form>
  </p>
</div>


{% endblock %}